apiVersion: apps/v1
kind: Deployment
metadata:
  name: ubuntu-nmap-attacker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ubuntu-nmap-attacker
  template:
    metadata:
      labels:
        app: ubuntu-nmap-attacker
    spec:
      containers:
        - name: ubuntu-nmap-attacker
          image: shivani1204/ubuntu-nmap-attacker
          ports:
            - containerPort: 6080
            - containerPort: 5900
          securityContext:
            privileged: true

